.advantages {
  box-sizing: border-box;
  width: 320px;
  /*min-height: 447px;*/
  margin: 0 auto;
  padding-bottom: 42px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-align: left;

  background-color: #ffffff;
  /*outline: 2px solid yellow;*/
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  padding-top: 17px;
  padding-left: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  /*outline: 2px solid green;*/
}

.advantages__item {
  position: relative;

  flex-basis: 60px;
  box-sizing: border-box;
  padding-top: 2px;
  padding-left: 80px;
}

.advantages__item--healthy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--easy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-image: url("../img/advantage-powder@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--profitable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-image: url("../img/advantage-dining@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--fast::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-image: url("../img/advantage-clock@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item p {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  /*.page-main {
    outline: 2px solid black;
  }*/

  .advantages {
    width: 768px;
    height: 781px;
    box-sizing: border-box;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 59px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: 1px solid #e6e6e6;

    /*outline: 2px solid yellow;*/
  }

  .advantages__title {
    margin: 0;
    margin-bottom: 72px;
    padding-top: 45px;
    padding-left: 0;

    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 629px; /*653*/
    min-height: 545px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    /*outline: 2px solid green;*/
  }

  .advantages__item {
    position: relative;

    flex-basis: 245px; /*269*/
    min-height: 228px;
    box-sizing: border-box;
    padding-top: 112px;
    padding-left: 0;
  }

  .advantages__item--healthy::before,
  .advantages__item--easy::before,
  .advantages__item--profitable::before,
  .advantages__item--fast::before {
    width: 80px;
    height: 80px;
  }

  .advantages__item--healthy::after {
    content: "1";
    position: absolute;
    bottom: -14px;
    left: 118px;
  }

  .advantages__item--easy::after {
    content: "2";
    position: absolute;
    bottom: -14px;
    left: 112px;
  }

  .advantages__item--profitable::after {
    content: "3";
    position: absolute;
    bottom: -14px;
    left: 113px;
  }

  .advantages__item--fast::after {
    content: "4";
    position: absolute;
    bottom: -14px;
    left: 113px;
  }

  .advantages__item--healthy::after,
  .advantages__item--easy::after,
  .advantages__item--profitable::after,
  .advantages__item--fast::after {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    font-weight: 400;
    color: #f2f2f2;
  }

  .advantages__item p {
    position: relative;

    z-index: 2;
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1220px;
    height: 433px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 82px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .advantages__title {
    margin-bottom: 72px;
    padding-top: 73px;
    padding-left: 0;

    font-size: 60px;
  }

  .advantages__list {
    width: 1220px;
    min-height: 228px;
  }
}
