.contacts {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-align: left;

  background-color: #f2f2f2;
}

.contacts__info {
  width: 280px;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 83px;
  outline: 2px solid pink;
}

.contacts__info--index {
  background-color: #ffffff;
}

.contacts__title {
  float: left;
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  float: left;
  margin: 0;
  padding: 0;
  width: 140px;
}

.contacts__map {
  width: 100%;
  height: 362px;
}

@media (min-width: @tablet-width) {
  .contacts__info {
    width: 624px;
    height: 201px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts__map {
    height: 396px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__info {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 201px;
    padding-left: 76px;
    padding-right: 71px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts__map {
    height: 399px;
  }
}
