.form {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.form__input {
  height: 45px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;

  font: inherit;
  color: #444444;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

.form__input:hover,
.form__input:focus {
  border: 1px solid #cdcdcd;
}

.form__input:active {
  outline: 2px solid #444444;
}

.form__input:invalid {
  outline: 2px solid #ff8282;
}

.form__input-icon {
  position: absolute;
  fill: #222222;
}

.form__input-item--email .form__input-icon {
  top: 16px;
  right: 16px;
}

.form__input-item--phone .form__input-icon {
  right: 13px;
}

.form__input:active + .form__input-icon {
  fill: #68b738;
}

.form__input:invalid + .form__input-icon {
  fill: #ff8282;
}

.form__input--comments {
  width: 280px;
  min-height: 150px;
  padding-right: 12px;
}

.form-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  text-transform: uppercase;

  border: none;
}

.form__cat {
  padding-bottom: 23px;
}

.form__input-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0;
  padding: 0;
}

.form__input-item:first-child {
  margin-bottom: 14px;
}

.form__cat .form__input-item:nth-child(2) {
  margin-bottom: 14px;
}

.form__input-item .form__label {
  max-width: 100px;
}

.form__input[name="name"] {
  width: 229px;
}

.form__input[name="weight"] {
  width: 204px;
}

.form__input[name="age"] {
  width: 172px;
}

.form__input[name="email"] {
  width: 219px;
}

.form__input[name="tel"] {
  width: 204px;
}

.form__goals {
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 19px;
  border: 1px solid #ededed;
}

.form__goals-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__goal {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.form__goal:nth-child(2) {
  margin-bottom: 24px;
}

.form__goal:nth-child(3) {
  margin-bottom: 27px;
}

.form__goal .form__label {
  position: relative;

  display: block;
  width: 234px;
  padding-left: 46px;

  cursor: pointer;
}

.form__radio {
  display: none;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;

  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: solid 1px #cdcdcd;
  border-radius: 50%;
}

.form__radio:hover + label::before {
  border: solid 1px #bababa;
}

.form__radio:active + label::before,
.form__radio + label:active {
  opacity: 0.3;
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-color: #68b738;
  border-radius: 50%;
}

.form__radio:checked:active + label::after {
  background-color: #d1e9c3;
}

.form__owners-contacts {
  margin-top: 28px;
}

.form__title {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-align: left;
  text-transform: none;
}

.form__title::after {
  content: "";
  position: absolute;
  top: 14px;
  width: 100vw;

  height: 3px;
  margin: 0;
  padding: 0;

  background-color: #68b738;
}

.form__owners-contacts .form__title::after {
  left: 201px;
}

.form__comments .form__title::after {
  left: 142px;
}

.form__extra .form__title::after {
  left: 164px;
}

.form__comments {
  margin-top: 28px;
}

.form__comments .form__title {
  margin-bottom: 35px;
}

.form__extra {
  margin-top: 28px;
  padding-top: 6px;
  padding-bottom: 16px;
}

.form__extra-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__extra-item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.form__extra-item:nth-child(2),
.form__extra-item:nth-child(3) {
  margin-bottom: 24px;
}

.form__extra-item .form__label {
  position: relative;

  display: block;
  width: 234px;
  padding-left: 46px;

  cursor: pointer;
}

.form__checkbox {
  display: none;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: solid 1px #cdcdcd;
}

.form__checkbox:hover + label::before {
  border: solid 1px #bababa;
}

.form__checkbox:active + label::before,
.form__checkbox + label:active {
  opacity: 0.3;
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;

  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-size: 21px 16px;
  background-repeat: no-repeat;
}

.form__button {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form {
    width: 708px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .form__input--email {
    padding-right: 57px;

    background-position: 513px center;
  }

  .form__input--tel {
    padding-right: 56px;

    background-position: 498px center;
  }

  .form__input--comments {
    width: 630px;
    min-height: 174px;
  }

  .form-block {
    width: 708px;
    padding-left: 41px;
    padding-right: 37px;
  }

  .form__cat {
    padding-bottom: 72px;
  }

  .form__input-item {
    width: 630px;
  }

  .form__input-item:first-child {
    margin-bottom: 20px;
  }

  .form__cat .form__input-item:nth-child(2) {
    margin-bottom: 20px;
  }

  .form__input-item .form__label {
    max-width: 122px;
  }

  .form__input[name="name"] {
    width: 567px;
  }

  .form__input[name="weight"] {
    width: 536px;
  }

  .form__input[name="age"] {
    width: 497px;
  }

  .form__input[name="email"] {
    width: 549px;
  }

  .form__input[name="tel"] {
    width: 534px;
  }

  .form__input-item--email .form__input-icon {
    top: 20px;
    right: 19px;
  }

  .form__input-item--phone .form__input-icon {
    top: 17px;
    right: 16px;
  }

  .form__goals {
    width: 630px;
    box-sizing: border-box;
    margin-left: 41px;
    padding: 0;
    padding-top: 33px;
    padding-left: 26px;
    border: 1px solid #e6e6e6;
  }

  .form__goal {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
  }

  .form__goal:nth-child(2) {
    margin-bottom: 33px;
  }

  .form__goal:nth-child(3) {
    margin-bottom: 35px;
  }

  .form__goal .form__label {
    width: 542px;
    padding-left: 60px;
  }

  .form__radio + label::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 1px;

    width: 40px;
    height: 40px;
  }

  .form__radio:checked + label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 12px;

    width: 18px;
    height: 18px;
  }

  .form__owners-contacts {
    margin-top: 75px;
  }

  .form__title {
    position: relative;

    margin: 0;
    padding: 0;
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
    text-transform: none;
  }

  .form__title::before,
  .form__title::after {
    content: "";
    position: absolute;
    top: 22px;

    height: 3px;

    background-color: #68b738;
  }

  .form__title::before {
    width: 30px;
    left: -71px;
  }

  .form__title::after {
    width: 100vw;

    margin: 0;
    padding: 0;
  }

  .form__owners-contacts .form__title::after {
    left: 552px;
    width: 100vw;
  }

  .form__comments .form__title::after {
    left: 218px;
    width: 100vw;
  }

  .form__extra .form__title::after {
    left: 251px;
    width: 100vw;
  }

  .form__contacts-wrapper {
    margin: 0;
    padding: 0;
  }

  .form__comments {
    margin-top: 65px;
  }

  .form__comments .form__title {
    margin-bottom: 76px;
  }

  .form__extra {
    margin-top: 65px;
    padding-top: 0;
    padding-bottom: 13px;
  }

  .form__extra .form__title {
    margin-bottom: 66px;
  }

  .form__extra-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
  }

  .form__extra-item {
    width: 286px;
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
  }

  .form__extra-item .form__label {
    width: 228px;
    padding-left: 58px;
  }

  .form__checkbox + label::before {
    content: "";
    position: absolute;
    top: -9px;
    left: -1px;

    width: 40px;
    height: 40px;
  }

  .form__checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 9px;
  }

  .form__button {
    width: 283px;
    margin: 0;
    margin-left: 41px;
    margin-right: 60px;

    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 1220px;
  }

  .form__input--email {
    padding-right: 56px;

    background-position: 449px center;
  }

  .form__input--tel {
    padding-right: 57px;

    background-position: 433px center;
  }

  .form__input--comments {
    width: 1220px;
  }

  .form-block {
    width: 1220px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__cat {
    width: 570px;
    padding-bottom: 0;
    margin-right: auto;
  }

  .form__input-item {
    width: 570px;
  }

  .form__input-item:first-child {
    margin-bottom: 0;
  }

  .form__cat .form__input-item:first-child,
  .form__cat .form__input-item:first-child:nth-child(2) {
    margin-bottom: 20px;
  }

  .form__input[name="name"] {
    width: 506px;
  }

  .form__input[name="weight"] {
    width: 475px;
  }

  .form__input[name="age"] {
    width: 436px;
  }

  .form__input[name="email"] {
    width: 486px;
  }

  .form__input[name="tel"] {
    width: 472px;
  }

  .form__input-item--email .form__input-icon {
    right: 20px;
  }

  .form__input-item--phone .form__input-icon {
    right: 19px;
  }

  .form__goals {
    width: 570px;
    margin: 0;
    margin-bottom: 2px;
    padding-top: 33px;
    padding-left: 26px;
  }

  .form__goal .form__label {
    width: 481px;
  }

  .form__owners-contacts {
    margin-top: 67px;
  }

  .form__title {
    padding-left: 0;
    text-transform: none;
  }

  .form__title::before {
    width: 70px;
    left: -110px;
  }

  .form__title::after {
    width: 100vw;

    margin: 0;
    padding: 0;
  }

  .form__owners-contacts .form__title::after {
    left: 553px;
  }

  .form__comments .form__title::after {
    left: 219px;
  }

  .form__extra .form__title::after {
    left: 252px;
  }

  .form__contacts-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__contacts-wrapper .form__input-item {
    width: 570px;
  }

  .form__comments {
    margin-top: 67px;
  }

  .form__extra {
    margin-top: 67px;
    padding-top: 0;
    padding-bottom: 48px;
  }

  .form__extra-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .form__extra-item {
    width: 245px;
    margin: 0;
    padding: 0;
  }

  .form__extra-item .form__label {
    width: 187px;
    padding-left: 58px;
  }

  .form__checkbox + label::before {
    left: 0;
  }

  .form__checkbox:checked + label::after {
    left: 10px;
  }

  .form__button {
    width: 568px;
    margin: 0;
    margin-left: 1px;
  }
}
