.items {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 28px;
}

.items__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .items {
    width: 708px;
    padding-top: 83px;
  }

  .items__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .items {
    width: 1220px;
    padding-top: 84px;
  }

  .items__list {
    width: 1220px;
  }
}
