.page-footer {
  box-sizing: border-box;
  width: 320px;
  /*height: 712px;*/
  margin: 0 auto;

  background-color: #f2f2f2;
  /*outline: 2px solid yellow;*/
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  min-height: 236px;
  padding: 0 20px;
}

.page-footer__logo {
  height: 94px;
  box-sizing: border-box;
  padding-top: 39px;
  text-align: center;

  /*outline: 2px solid pink;*/
}

.page-footer__social {
  height: 64px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 22px;

  text-align: center;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  /*outline: 2px solid pink;*/
}

.page-footer__copyright {
  height: 78px;
  box-sizing: border-box;
  padding: 22px 0;
  /*outline: 2px solid pink;*/
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
    /*height: 747px;*/
    margin: 0 auto;
    /*outline: 2px solid pink;*/
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    min-height: 150px; /*145 - должно быть 150 по макету, но у меня какой-то косяк, не совпадает*/
    box-sizing: border-box;
    margin: 0 auto;
    padding: 58px 0;
    /*vertical-align: middle;*/

    /*outline: 2px solid blue;*/
  }

  .page-footer__logo {
    width: 162px;
    height: 34px;
    box-sizing: border-box;
    padding: 0;
    padding-top: 6px;

    text-align: left;
  }

  .page-footer__social {
    width: 136px; /*по 34 ширина каждой кнопки*/
    height: 34px;
    padding: 0;
  }

  .page-footer__copyright {
    width: 162px;
    height: 34px;
    padding: 0;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
    width: 1440px;
    height: 549px;
    box-sizing: border-box;
  }

  .page-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 56px;
  }
}
