.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
}

.page-header__topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}

.page-header__nav-toggle {
  position: relative;

  display: block;
  width: 64px;
  height: 38px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  cursor: pointer;
  border: none;
}

.page-header--nav-closed .page-header__nav-toggle::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 20px;

  width: 24px;
  height: 2px;

  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.page-header--nav-opened .page-header__nav-toggle::before,
.page-header--nav-opened .page-header__nav-toggle::after {
  content: "";

  position: absolute;
  top: 20px;
  left: 20px;

  width: 24px;
  height: 2px;

  background-color: #222222;
}

.page-header--nav-opened .page-header__nav-toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.page-header--nav-opened .page-header__nav-toggle::after {
  transform: rotate(-45deg);
}

@media (max-width: @mobile-width-only) {
  .page-header--nav-closed .main-nav {
    display: none;
  }

  .page-header--nojs .main-nav {
    display: block;
  }

  .page-header--nojs .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    padding: 24px 30px;
  }

  .page-header__topbar {
    width: 173px;
    min-height: 58px;
    padding: 0;

    border-bottom: none;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }

  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
    box-sizing: border-box;
    padding: 54px 40px 29px;
  }

  .page-header--index {
    position: absolute;
    top: 0;
    left: 70px;
    right: 70px;
    z-index: 2;
  }

  .page-header__topbar {
    width: 202px;
    min-height: 60px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
