.promo {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #63a73a 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #63a73a 305px, #ffffff 305px);
  }
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.promo__title {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 28px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__product-image {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 1px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 709px;
    margin-bottom: 0;

    background-image: none;
  }

  .promo__wrapper {
    position: relative;
    width: 709px;
    padding: 0;
  }

  .promo__title {
    width: 420px;
    margin-left: 88px;
    margin-bottom: 41px;
    padding-top: 33px;

    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .promo__slogan {
    display: block;
    width: 420px;
    margin-left: 89px;

    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .promo__product-image {
    width: 709px;
    height: 609px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }

  .promo__button {
    position: absolute;
    top: 262px;
    left: 90px;

    width: 245px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    position: relative;
    width: 1440px;
    min-height: 696px;
    margin-bottom: 80px;
    padding: 0;

    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 719px, #63a73a 719px);
    background-position: 719px, left;
    background-size: 720px 696px, 1440px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff 719px, #63a73a 719px);
    }
  }

  .promo__wrapper {
    width: 1220px;
    min-height: 641px;
    padding: 0 110px;
  }

  .promo__title {
    margin-left: 80px;
    padding-top: 222px;
  }

  .promo__slogan {
    margin-left: 80px;
  }

  .promo__product-image {
    position: absolute;
    top: 142px;
    right: 328px;
    z-index: 2;

    width: 552px;
    height: 499px;
    margin: 0;
    padding: 0;
  }

  .promo__button {
    position: relative;
    left: -408px;
    top: 53px;
  }
}
