.questionnaire {
  width: 320px;
  text-align: left;
  padding-top: 25px;
}

.questionnaire__intro {
  width: 235px;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.questionnaire__wrapper {
  margin: 0;
  padding-top: 0;
  padding-bottom: 31px;
}

.questionnaire__form {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
}

.questionnaire__required {
  display: inline-block;

  width: 280px;
  box-sizing: border-box;
  margin: 21px 20px 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .questionnaire {
    width: 708px;
    box-sizing: border-box;
    padding-top: 55px;
  }

  .questionnaire__intro {
    width: 344px;
    margin-bottom: 66px;
    padding: 0;
    padding-left: 41px;

    font-size: 20px;
    line-height: 30px;
  }

  .questionnaire__wrapper {
    padding: 0;
    padding-bottom: 72px;
  }

  .questionnaire__form {
    font-size: 20px;
    line-height: 20px;
  }

  .questionnaire__required {
    float: right;

    width: 324px;
    box-sizing: border-box;
    margin: 0;
    margin-top: -36px;
    padding: 0;

    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .questionnaire {
    width: 1220px;
    /*height: 1303px;*/
  }

  .questionnaire__intro {
    width: 325px;
    padding: 0;
  }

  .questionnaire__wrapper {
    padding-bottom: 82px;
  }

  .questionnaire__required {
    width: 570px;
  }
}
