.show-more {
  height: 210px;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #ededed;
}

.show-more__container {
  width: 231px;
  margin: 0 auto 23px auto;
  padding: 0;
  padding-top: 80px;
}

.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.show-more__text {
  display: inline-block;
  padding-top: 10px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
