.site-list {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  list-style: none;
}

.site-list__item {
  padding-top: 23px;
  padding-bottom: 22px;

  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  color: #111111;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 516px;
  }
  .site-list__item {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 610px;
  }
}
