.contacts {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-align: left;

  background-color: #f2f2f2;
}

.contacts__info {
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 83px;
}

.contacts__info--index {
  background-color: #ffffff;
}

.contacts__title {
  float: left;
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  float: left;
  margin: 0;
  padding: 0;
  width: 140px;
}

.contacts__map {
  height: 362px;
}
