@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-main {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.page-title {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.section-title {
  position: relative;

  margin: 0;
  padding-left: 19px;
  padding-right: 0;
  margin-top: 28px;
  margin-bottom: 34px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-align: left;
}

.section-title::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 267px;

  width: 100vw;
  height: 3px;

  background-color: #68b738;
}

.button {
  display: inline-block;
  width: 280px;

  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #68b738;
  border: none;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5eaa2f;
  }
}

.button--index {
  margin: 0;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 18px;
}

.button--to-all {
  color: #444444;

  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);

    background-color: #ebebeb;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;
  }

  .page-main--inner {
    width: 708px;
    padding: 0 30px;
  }

  .page-title {
    width: 708px;
    margin: 0 auto;
    padding: 0;
    padding-top: 33px;

    font-size: 60px;
    font-weight: 400;
  }

  .section-title {
    position: relative;

    margin: 0;
    margin-top: 9px;
    margin-bottom: 80px;
    padding: 0;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .section-title::before,
  .section-title::after {
    content: "";
    position: absolute;
    top: 22px;

    height: 3px;

    background-color: #68b738;
  }

  .section-title::before {
    width: 29px;
    left: -31px;
  }

  .section-title::after {
    width: 100vw;

    left: 411px;

    margin: 0;
    padding: 0;
  }

  .button {
    width: 249px;
  }
}

@media (min-width: @desktop-width) {
  body {
    position: relative;
    width: 1440px;
    overflow-x: hidden;
  }

  .page-main {
    width: 1440px;
    padding: 0;
  }

  .page-main--inner {
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-title {
    width: 1220px;
    padding: 0;
    padding-top: 45px;

    font-size: 60px;
    font-weight: 400;
  }

  .section-title {
    margin-top: 13px;
    padding: 0;
  }

  .section-title::before {
    width: 70px;
    left: -110px;
  }

  .section-title::after {
    left: 373px;
  }
}
